.header_get{
    background-color: rgb(110, 209, 209);
    height: 500px;
    
}

.h1_main{
    text-align: center;
}
.lorem{
    text-align: center;
}


.section_1{

}

.section_2{

}
.section_3{

}
.section_4{

}
.section_5{

}
.section_footer{

}