
.my_fon{
    border: 1px solid black;
    height: 800px;
    
    background-image: url(./images/samye-strashnye-kartinki-3.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.test{
    height: 800px;
    background-color: rgb(132, 230, 129);
    opacity: 0.2;
}

.aa{
    background-position:  right;
    border: 1px solid black;
    height: 800px;
    
    background-image: url(./images/samye-strashnye-kartinki-3.webp);
    background-repeat: no-repeat;
}

.tekst{
    border: 1px solid black;
    height: 250px;
    overflow: scroll;
    background-image: url(./images/samye-strashnye-kartinki-3.webp);
    background-repeat: no-repeat;

    background-size: 100% 100%;

    background-attachment: local;

}

.test_2{
    width: 300px;
    height: 200px;
    /* background-color: rebeccapurple; */
    background-image: url(./images/samye-strashnye-kartinki-3.webp);
    background-repeat: no-repeat;
    background-size: 100% 100%

}

.test_3{
    height: 500px;
    border: 1px solid black;
    background-image:   url(./images/samye-strashnye-kartinki-3.webp),
                        url(./images/test3.webp),
                        url(./images/test2.png);

    background-repeat:  no-repeat, 
                        no-repeat, 
                        no-repeat;

    background-position: left top, 
                         center top,
                         right top;

    background-size:    33% 300px,
                        33% 300px,
                        33% 300px;


                    }
